@{
    ViewData["Title"] = "Home";
}

    <div class="home-page">
        <img class="home-icon" src="~/img/blueLOGO.png" />
        <h1 class="header-title display-4">
            Bienvenue sur
            <span class="colored">PiratesRhumStream</span> !
        </h1>
        <div class="home-search">
            <input class="search-input" placeholder="Rechercher un film, exclus, blu-ray..." type="search" />
            <img class="search-icon" src="https://static.thenounproject.com/png/101791-200.png" />
        </div>
        <div class="movies-container">
            @foreach (var moviesExclus in Model.exclus)
            {
                <div class="wrapper">
                    <a href="/Home/Movies/Exclus">
                        <h1 class="colored">Exclus</h1>
                    </a>
                    <div class="wrapper-content">

                        <div class="movies-affiche">
                            <img class="affiche-img" src="@moviesExclus.Image" />
                            <h3 class="affiche-title">@moviesExclus.Name</h3>
                            <h4 class="affiche-format">@moviesExclus.format</h4>
                        </div>
                    </div>
                </div>
            }
            @foreach (var moviesBluray in Model.bluray)
            {
                <div class="wrapper">
                    <a href="/Home/Movies/BluRay">
                        <h1 class="colored">Exclus</h1>
                    </a>
                    <div class="wrapper-content">

                        <div class="movies-affiche">
                            <img class="affiche-img" src="@moviesBluray.Image" />
                            <h3 class="affiche-title">@moviesBluray.Name</h3>
                            <h4 class="affiche-format">@moviesBluray.format</h4>
                        </div>
                    </div>
                </div>
            }
            @foreach (var moviesVostfr in Model.vostfr)
            {
                <div class="wrapper">
                    <a href="/Home/Movies/Exclus">
                        <h1 class="colored">Exclus</h1>
                    </a>
                    <div class="wrapper-content">

                        <div class="movies-affiche">
                            <img class="affiche-img" src="@moviesVostfr.Image" />
                            <h3 class="affiche-title">@moviesVostfr.Name</h3>
                            <h4 class="affiche-format">@moviesVostfr.format</h4>
                        </div>
                    </div>
                </div>
            }
            @foreach (var moviesOav in Model.oav)
            {
                <div class="wrapper">
                    <a href="/Home/Movies/Oav-Manga">
                        <h1 class="colored">Oav - Manga</h1>
                    </a>
                    <div class="wrapper-content">

                        <div class="movies-affiche">
                            <img class="affiche-img" src="@moviesOav.Image" />
                            <h3 class="affiche-title">@moviesOav.Name</h3>
                            <h4 class="affiche-format">@moviesOav.format</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
