@{
    ViewData["title"] = ViewContext.RouteData.Values["id"];
}

    <div class="movieDetail-page">
        <img class="home-icon" src="~/img/blueLOGO.png" />
        <div class="detail-container">
            <div class="detail-title">
                <h1 class="colored header-title display-4">@Model.Name</h1>
                <h2>@Model.Format</h2>
            </div>
            <div class="detail">
                <div class="detail-img">
                    <img class="detail-img-item" src="http://fr.web.img3.acsta.net/c_215_290/pictures/19/04/04/09/04/0472053.jpg" />
                </div>
                <div class="detail-info">
                    <div class="detail-info-container">
                        <h4 class="colored">Infos sur le film</h4>
                        <div class="info-item">
                            <span class="info-item-name">Catégorie</span>:
                            <span class="info-item-value">@Model.Category</span>
                        </div>
                        <div class="info-item">
                            <span class="info-item-name">Durée</span>:
                            <span class="info-item-value">@Model.Length minutes</span>
                        </div>
                        <div class="info-item">
                            <span class="info-item-name">Réalisation</span>:
                            <span class="info-item-value">@Model.Publisher</span>
                        </div>
                        <div class="info-item">
                            <span class="info-item-name">Note</span>:
                            <span class="info-item-value">@Model.average / 20</span>
                        </div>
                        <div class="info-item">
                            <span class="info-item-name">Titre original</span>:
                            <span class="info-item-value">@Model.Name</span>
                        </div>
                        <h4 class="margetop20 colored">Synopsis</h4>
                        <div class="info-item">
                            <p>@Model.Description</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comments-wrapper">
                <section>
                    <textarea class="commentBox" placeholder="Écrivez un commentaire !" type="textarea"></textarea>
                    <p><span class="counter">140</span> Characters left</p>
                    <button class="post-comment">Post</button>
                    <ul class="clearfix comments">
                        <li>I left a comment...</li>
                        <li>I left another comment...</li>
                    </ul>
                </section>
            </div>
        </div>

    </div>
</div>
